{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>spotidata</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="{% static 'spotidata/plot.js' %}"></script>
    <script src="{% static 'spotidata/app.js' %}"></script>

    <link rel="stylesheet" href="{% static 'spotidata/style.css' %}">
</head>
<body>
    <div class="container">
        <article id="main">
            Login successful! <br>
            <b>Display Name:</b> {{ name }} <br>
            <b>ID:</b> {{ id }} <br>

            <table>
                <tr width="100%">
                    <td width="15%" style="vertical-align: top;">
                        <h2>Track Sources</h2>

                        <h3>Saved Tracks</h3>
                        <input type="checkbox" class="saved_tracks" id="saved_tracks">Include Saved Tracks</input>

                        <h3>Saved Albums</h3>
                        <div id="albums">
                            <i>Loading saved albums...</i>
                        </div>
                        
                        <h3>Playlists</h3>
                        <div id="playlists">
                            <i>Loading playlists...</i>
                        </div>
                    </td>
                    <td width="20%" style="vertical-align: top;">
                        <h2>Tracks</h2>
                        <button id="load_tracks">Load tracks...</button>
                        <div id="tracks">
                        </div>
                    </td>
                    <td style="vertical-align: top;">
                        <h2>Filter</h2>
                        <div id="filter">
                        </div>

                        <h2>Playlist Creation</h2>
                        <div id="playlist">
                            Load some tracks and apply some filters in order to generate a playist!
                        </div>

                        <h2>Features</h2>
                        <div id="features">
                            <div id="danceability_plot" class="half_plot"></div>
                            <div id="energy_plot" class="half_plot"></div>
                            <br>
                            <div id="key_plot" class="half_plot"></div>
                            <div id="loudness_plot" class="half_plot"></div>
                            <br>
                            <div id="mode_plot" class="full_plot"></div>
                            <br>
                            <div id="speechiness_plot" class="half_plot"></div>
                            <div id="acousticness_plot" class="half_plot"></div>
                            <br>
                            <div id="instrumentalness_plot" class="half_plot"></div>
                            <div id="liveness_plot" class="half_plot"></div>
                            <br>
                            <div id="valence_plot" class="half_plot"></div>
                            <div id="tempo_plot" class="half_plot"></div>
                        </div>
                    </td>
                </tr>
            </table>
        </article>
    </div>
</body>
</html>