.half_plot {
    display: inline-block;
    max-width: 400px;
    max-height: 300px;
}

.full_plot {
    display: inline-block;
    max-width: 800px;
    max-height: 300px;
}

.filtered_out {
    color: #adadad;
}